@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Roboto:400,900');

/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Oleo Script', cursive;
*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#map {
  height: 100vh;
  width: 100vw;
}

.logo {
  color: white;
  position: absolute;
  z-index: 5;
  top: 25px;
  left: 30px;
  font-family: 'Oleo Script', cursive;
  font-size: 52px;
  padding: 0;
  margin: 0;
}

.gamemenu {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;

  width: 300px;
  height: 110px;
  background-color: black;
  padding: 15px;
  overflow: hidden;
}

.gamemenu p {
  font-family: 'Oleo Script', cursive;
  color: #525252;
  padding: 0;
  margin: 0 0 -10px 0;
}

#currentguess {
  color: white;
  margin: 0;
  padding: 0 0 10px 0;
}

#currentpop {
  color: white;
  padding: 0 0 10px 0;
  margin: 3px 0;
}

/* Scoreboard */
.scoreboard {
  position: absolute;
  background-color: green;
  top: 0;
  right: -130px;
  width: 130px;
  height: 100%;
  z-index: 10;

  transition: all 0.2s ease-in-out;
}

#score {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: white;
}

#allscore {
  text-align: center;
  font-size: 22px;
  padding: 0px;
  color: rgba(255,255,255,0.3);
}

.scoreboard button {
  font-weight: 900;
  color: green;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: rgba(0,0,0,0.4);
}

.currscoreboard {
  position: absolute;
  right: 0;
  top: 0;

  height: calc(100% - 30px);
  width: calc(40% - 30px);
  padding: 15px;
}

.currscoreboard p {
  width: calc(100% - 20px);
  text-align: left;
  padding: 10px 0 0 10px;
  margin: 0;
  font-size: 42px;
}

.currscoreboard p:nth-child(3) {
  color: rgba(255,255,255,0.2);
  text-align: right;
  padding: 0px 10px 10px 0px;
  font-size: 32px;
}

.currscoreboard b {
  position: absolute;
  color: rgba(255,255,255,0.2);
  font-size: 60px;
  text-align: center;
  width: calc(100% - 40px);
  top: 36px;
  padding: 0;
  margin: 0;
}

.settings {
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 5;
  background-color: black;
  height: 60px;
  width: 60px;
}

.settings img {
  width: 60%;
  height: 60%;
  margin: 20%;
}

.settings:hover > img {
  transition: all 0.2s ease-in-out;
  transform: rotate(20deg);
  cursor: pointer;
}

.settingspanel {
  position: absolute;
  bottom: -60px;
  height: 60px;
  width: 200px;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  right: 60px;
  transition: all 0.1s ease-in-out;
}

.settingspanel p {
  color: rgba(255,255,255,0.6);
  font-family: 'Oleo Script', cursive;
  margin: 10px 0 0 10px;
}

.settingspanel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.settingspanel ul li {
  display: inline;
  color: white;
  margin-left: 10px;
  font-weight: 900;
}

.settingspanel ul li:hover {
  cursor: pointer;
  color: rgba(255,165,0, 0.8);
}

.active {
  color: orange !important;
}

.settings:hover + .settingspanel, .settingspanel:hover {
  bottom: 0;
}

/* endgame */
.endmsg {
  display: none;
  width: 30vw;
  height: 20vh;
  z-index: 10;
  position: absolute;
  top: 40vh;
  left: 35vw;
  /*background-color: rgba(255,255,255,0.5);*/
}

.endmsg p {
  font-weight: 900;
  text-align: center;
  color: white;
  font-size: 34px;
  text-shadow: 3px 3px 2px black;
  padding: 0;
  margin: 0;
}

.endmsg h2 {
  color: orange;
  font-size: 80px;
  font-family: 'Oleo Script', cursive;
  text-align: center;
  padding: 0;
  margin: 0;
}

.endmsg button {
  width: 120px;
  margin-left: calc(50% - 60px);
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.3);
  color: white;
  font-family: 'Oleo Script', cursive;
}

.endmsg button:hover {
  color: orange;
  cursor: pointer;
}

.endmsg button:focus {
  outline: none;
}